* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-image: url("https://wallpaperaccess.com/full/435922.jpg");
  background-size: auto 100vh;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  height: 100vh;
}

/*
Fonts
font-family: 'Architects Daughter', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Oswald', sans-serif;
*/

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  color: navy;
  text-decoration: none;
}

figcaption,
h2 {
  cursor: default;
}

.background1 {
  background-color: #454140;
}

.background2 {
  background-color: #bd5734;
}

.background3 {
  background-color: #587e76;
}

.background4 {
  background-color: #563f46;
}    

.menu {
  background-color: black;
  font-size: 1.2em;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100;
}

.menu a {
  border-radius: 4px;
  color: whitesmoke;
  display: block;
  padding: 4px;
  transition: background-color 0.4s, color 0.4s;
}

.menu a:hover {
  color: black;
  background-color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  text-align: center;
}

.site-title {
  animation: linear forwards 1s 1s animationTitle;
  color: slateblue;
  font-family: 'Architects Daughter', cursive;
  font-size: 4em;
  opacity: 0;
}

@keyframes animationTitle {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.site-subtitle {
  animation: ease-out forwards 1s 3s animationSubtitle;
  color: slategray;
  font-family: 'Shadows Into Light', cursive;
  font-style: italic;
  opacity: 0;
  transform: translateY(2vh);
}

@keyframes animationSubtitle {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.site-area {
  padding: 3em;
  min-height: 100vh;
}

.site-area h2,
.site-contact h2 {
  color: whitesmoke;
  font-size: 2em;
  margin-bottom: 1em;
}

.site-area .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 220px;
  justify-content: center;
}

@media (min-width: 568px) {
  .site-area .grid {
    grid-template-columns: repeat(2, 220px);
  }
}

@media (min-width: 768px) {
  .site-area .grid {
    align-content: center;
    grid-template-columns: repeat(3, 220px);
    height: calc(100vh - 20em);
  }
}

.site-area figure {
  text-align: center;
}

.site-contact {
  padding: 3em;
}

.site-contact .icons {
  text-align: center;
}

.site-contact a {
  color: whitesmoke;
  font-size: 3em;
  opacity: 80%;
  transition: text-shadow 0.2s;
}

.site-contact a:active,
.site-contact a:hover {
  text-shadow: 0px 0px 16px rgba(255,255,255,0.8);
}

.img-project {
  height: 180px;  
  width: 220px;
  object-fit: cover;
  border-radius: 4px;
  /* transform: scale(1); */
  transition: box-shadow 0.4s, transform 0.4s;
}

.img-project:hover {
  box-shadow: rgba(0,0,0,0.5) 0px 0px 32px;
  cursor: pointer;
  transform: scale(1.05);
}